
.head{
  width: 100%;
  height: 10em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer{
  border-top: solid black 1px;
  width: 100%;
  height: 10em;
  background-color: #F9F4F4;
  margin-top: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstPart{
width:50%;
height:auto;
float: left;
}




.firstPart img { 
  width: 150px;
  height: 150px;
  float: left;
  margin-left: 175px;
  transition: 1.0s all ease-in-out; 

  
} 
 
.firstPart:hover img { 
  transform: scale(1.5); 
} 



.secondPart{
width:50%;
height:auto;

float: left;

}
h3{
  margin-left: 130px;
}

.secondPart input{
  color: white;
  width:250px ;
  height:50px;
  border-radius: 4px;
  background-color:#289825;
  opacity: 0.8;
  margin-left: 100px;
  border: none;
  outline: none;
  
}


.secondPart input:hover{
  background-image: radial-gradient(circle, #007d6c, #008564, #008c56, #009342, #289825);
}

.secondPart p{
margin-left: 0%;
}

#item{
  width:28% ;
  height: 2em;
  margin-left: 85px;

}

#labForProduct{
  width: 20%;
  margin-left: 0px;
}




.img{
 
  width: 25px;
  height: 25px;
  margin-top: 21px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.back-page{
  display: flex;
  flex-direction: row;
  place-content: center;
  cursor: pointer;
}
